<h3 class='user text-center mb-5'>{{@name}}
  <span class='score badge badge-secondary'>{{@score}}</span>
</h3>
<div class='card'>
  <div class='card-body'>
    <ul class='list-group'>
      {{#each-in this.attributes as |attribute value|}}
        <li
          class='list-group-item d-flex justify-content-between align-items-center'
        >
          {{t attribute}}
          <span class='badge badge-dark badge-pill'>{{value}}</span>
        </li>
      {{/each-in}}
    </ul>
  </div>
</div>