body {
  background: #e0e0e0;
}

.btn-group.rounded {
  .btn {
    border-radius: 100% !important;
    width: 120px;
    height: 120px;
    padding: 30px;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.card {
  border-radius: 35px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  border: 0;
  background: #eeeeee;
  box-shadow:  20px 20px 40px #bebebe,
  -20px -20px 40px #ffffff;
  color: #444;

  &-header {
    background: transparent;
  }

  .badge {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 15px;
  }
}

.btn {
  border: none;
  padding: 10px 25px;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  background: #eeeeee;
  box-shadow:  20px 20px 40px #bebebe,
  -20px -20px 40px #ffffff;
  color: #444;

  &:hover {
    box-shadow:  20px 20px 40px #bebebe,
    -20px -20px 40px #ffffff;
    color: #444;
    background: #e0e0e0;
  }

  &.icon-button {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.list-group-item {
  background: transparent;
  border: 0;
}

.game-category-image {
  width: 120px;
  height: 120px;
  padding: 30px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
  box-shadow:  20px 20px 40px #bebebe,
  -20px -20px 40px #ffffff;
  color: #444;

  img {
    max-width: 100%;
  }
}
