<Container>
  <div class='row'>
    <div class='col text-center text-danger mt-5'>
      <h1>Oops... Something went wrong.</h1>
      <LinkTo
        @route='index'
        class='btn mt-3'
        role='button'
        aria-pressed='false'
      >
        Back to home page.
      </LinkTo>
    </div>
  </div>
</Container>